.intro {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 padding: 0px;
}

@media screen and (min-width: 255px) {
  .intro {
    width: 100%;
    padding: 40px 16px 34px 16px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    padding-top: 92px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
    margin: 0 auto;
  }
}
