 .cover__overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    top: 0;
    left: 0;
    min-height: 740px;
    background-color: rgba(42, 44, 47, 0.3);
    z-index: 1;
    text-decoration: none;
    align-items: center;
    min-width: 320px;
    min-height: 200px;

    } 

    @media screen and (max-width: 1024px) {
      .cover__overlay {
      min-height: 640px;
      padding-top: 92px;
      
      }
    }

    @media screen and (max-width: 768px) {
      .cover__overlay {
      min-height: 480px;
      padding-top: 90px;
      
      }
    }

    @media screen and (max-width: 320px) {
      .cover__overlay {
      min-height: 200px;
      min-width: 320px;
      padding-top: 66px;
      }
    }

    .cover__overlay:before {
      content: "";
      position: absolute;
      opacity: 0.3;
      transition: 0.3s opacity;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2A2C2F;
      z-index: -1;

    }
    
     .cover__overlay:hover.cover__overlay:before {
      opacity: 0.8;
      } 