.lead__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
    padding-top: 8px;
    justify-content: start ;
    align-self: flex-start;
    letter-spacing: 0.15em;
    }

    @media screen and (max-width: 768px) {
        .lead__caption {
          padding-bottom: 84px
        }
      }

      @media screen and (max-width: 320px) {
        .lead__caption {
          padding-bottom: 64px
        }
      }